# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
venv/
ENV/
env/
*.env
*.venv

# Django / DRF
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code / PyCharm
.vscode/
.idea/
*.swp

# MacOS
.DS_Store
