Django==5.2.7
asgiref==3.9.2
sqlparse==0.5.3
django-taggit==6.1.0

djangorestframework>=3.15
Pillow>=10.0
drf-spectacular>=0.27

# Production
gunicorn>=21.2
whitenoise>=6.6
django-environ>=0.11
dj-database-url>=2.2
psycopg2-binary>=2.9
