{% extends "blog/base.html" %}
{% block title %}Your Profile{% endblock %}
{% block content %}
  <h1>Your Profile</h1>

  {% if messages %}
    <ul>
      {% for m in messages %}
        <li>{{ m }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div>
      <label for="{{ form.first_name.id_for_label }}">First name</label>
      {{ form.first_name.errors }}
      {{ form.first_name }}
    </div>
    <div>
      <label for="{{ form.last_name.id_for_label }}">Last name</label>
      {{ form.last_name.errors }}
      {{ form.last_name }}
    </div>
    <div>
      <label for="{{ form.email.id_for_label }}">Email</label>
      {{ form.email.errors }}
      {{ form.email }}
    </div>
    <button type="submit">Save changes</button>
  </form>
{% endblock %}